<!doctype html>
<html>
<head>
	<%= partial(site[:sharedPath] + "/head",
		:locals => { 
			:modifiers => ["foo"] 
	})%>   
	<%= stylesheet_link_tag "site" %>
	<%= javascript_include_tag  "site" %>
</head>
<body class="<%= body_class %>">
	<%= yield %>
</body>
</html>
